<h2>Browse all Volumes</h2>

<div class="row">
  <div class="pagination-stuff col-md-10">
    <%= alphabetical_paginate @alpha_params %>
  </div>
</div>

<div class="row">
  <div id="pagination_table" class="col-md-12">
    <ul class="list-group">
      <% @volumes.each do |vol| %>
        <li class="list-group-item">
          <%= link_to (vol.title.blank? ? "[No title]" : vol.title), public_volume_path(vol) %>
        </li>
      <% end %>
    </ul>

  </div>
</div>