<% page_title 'Browse volumes' %>
<h3 class="browse-journals__header">Browse all volumes</h3>
<div class="row">
  <div class="browse-journals__description browse-page__description col-md-10">
    Book-length items in which smaller items in the CENSUS appear. For each volume, only its CENSUS-related contents are listed, in order of appearance.
  </div>
</div>

<div class="col-md-8">
  <%= render 'public/volumes/volume_letter_list' %>
</div>

<div class="row">
  <div id="pagination_table" class="col-md-12">
    <ul class="list-group">
      <% @volumes.each do |volume| %>
        <li class="list-group-item">
          <%= link_to (volume.title.blank? ? "[No title]" : volume.title), public_volume_path(volume) %>
          <% if volume.brief_result_note %>
            <div class="browse-page__brief-result-note">
              <%= volume.brief_result_note %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>
</div>