.about-page__cover-image-col {
  text-align: center;
}

.about-page__census-workers-image {
  text-align: center;
  margin: 1em auto;
}

.mgsa-endorsement {
  width: 33%;
  float: right;
  background: #f1f1c1;
  margin: .75em 0 .5em 1em;
  border: 1px dotted gray;
  font-size: 1.25em;
  padding: 1em;
}