// Place all the styles related to the public/authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.appears-as-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: 16px;
    margin-bottom: .5em;
  }
}

.other-names {
  padding-top: 2em;
}

.auth-names {

    .auth-name {
        margin-bottom: 1em;
    }
    .auth-name__heading {
        font-weight: 600;
        font-size: .9em;
    }

    .auth-name__value {
        font-size: 1.2em;
    }


    margin-bottom: 2.5em;
}

.authors-texts {

    .topic-author-greek, .display-dates, .domicile {
        color: #556;
    }

    .topic-author-greek, .display-dates {
        font-size: 28px;
        margin: .25em 0;
    }
    h3.text-type {
        font-size: 18px;
        font-weight: 600;
    }
    .domicile {
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
    }
}



