// Place all the styles related to the public/authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.authors-names-lists__info-box {
  margin: 1em;
  padding: 1em;
  background-color: #edeeed;
}

.appears-as-list, .countries-of-publication-list, .alternate-names {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: 16px;
    margin-bottom: .5em;
  }
}

.authors-nav__all-letters {
  margin-bottom: 24px;
}

.authors-nav__letter-list {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #555;
}

.authors-nav__letter--selected {
  font-weight: 800;
}

.authors-nav__letter a:hover {
  text-decoration: none;
}

.authors-nav {
  padding-top: 20px;
}

.authors-nav__author {
  margin-bottom: 1em;
}

.authors-nav__author.foo.authors-nav__author--selected {
  font-weight: bold;
}

.authors-nav__see-reference {
  font-weight: 800;
  font-style: italic;
}

.other-names {
  padding-top: 2em;
}

.auth-names {

  .auth-name {
    margin-bottom: 1em;
  }

  .auth-name__heading {
    font-weight: 600;
    font-size: .9em;
  }

  .auth-name__value {
    font-size: 1.2em;
  }


  margin-bottom: 2.5em;
}

.authors-texts {

  .topic-author-greek, .display-dates, .domicile {
    color: #556;
  }

  .topic-author-greek, .display-dates {
    font-size: 28px;
    margin: .25em 0;
  }

  h3.text-type {
    font-size: 18px;
    font-weight: 600;
  }
}

.author_heading {
  margin-bottom: 1em;
}

.author-heading__dates, .author-heading__domicile {
  font-size: 20px;
}

.author-heading__greek-name {
  font-size: 28px;
  color: #558;
}

.authors-texts {
  margin-top: 1em;
}

h2.text-list-heading {
  font-size: 24px;
  margin-top: 2em;
  margin-bottom: 0;
  padding: 0;
}

.topic-author-english, .topic-author-see-person a {
  font-weight: 600;
}

.places-map__count {
  font-size: 14px;
}