// Place all the styles related to the public/controlled_name controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#names-list li {
  list-style: none;
  margin-bottom: 1em;
}

.public-show-name {
  h2 {
    font-weight: 600;
  }
}


.browse-people__description {
  margin-bottom: 1em;
}

.browse-people__full_name {
  font-size: 18px;
  font-weight: 600;
}

.browse-people__texts-count {
  font-size: 16px;
  font-weight: 600;
}

.browse-people__roles {
  font-size: 14px;
}

.browse-people__pagination--top, .browse-people__pagination--bottom {
  .pagination {
    margin: .5em 0 1em 0;
  }
}

.browse-people__link-to-topic-author {
  font-size: 14px;
  font-weight: 600;
}