.pages.index {
  .navbar {
    margin-bottom: 0;
  }

  .news {
    margin-bottom: 2em;

    .new-notice__heading {
      font-weight: 600;
    }
  }

  .open-announcement {
    font-size: 20px;
  }

  h3 {
    margin-bottom: 1em;
  }

  .updated-records-list {
    ul {
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 1em;
        font-size: 14px;

        .result-title {
          font-size: 16px;
        }
      }
    }
  }

  .news__announcement {
    display: grid;
    grid-template-columns: 100px 1000px;

    background: #fbf6ee;
    border-bottom: 1px solid #CCCCCC66;

    h3 {
      grid-column: 1;
      grid-row: 1;
    }

    .news__announcement-date {
      grid-column: 1;
      grid-row: 2;
      font-weight: bold;
      font-size: 16px;
      padding-top: 0.2em;
    }

    .news__brief-content {
      grid-column: 2;
      grid-row: 2;
      font-size: 18px;
    }
  }

  .container.home-description {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .jumbotron {
    position: relative;
    height: 380px;

    .image-credits {
      font-size: 12px;
      position: absolute;
      bottom: 0;
      text-align: right;
      color: #ccc;

      a {
        color: #ccc;
      }
    }

    .search-container {
      background-color: #185fad;
      position: relative;

      color: #fff;

      h1 {
        font-size: 28px;
      }

      .homepage-description {
        font-size: 16px;
      }

      .search-input {

        label {
          color: white;
          font-size: 16px;
          font-weight: 400;
          margin-top: .5em;
        }

        .search-chooser {
          text-align: right;
          margin-top: .5em;

          a {
            color: #ddd;
          }
        }
      }

    }
  }

  .jumbotron::before {
    content: "";
    background-size: cover;
    background-position: center;
    width: 100%;
    background-image: image-url("gennadius-vertical.jpg");
    opacity: .75;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
  }

  .sponsors {
    .sponsors__sponsor-card {
      padding: 1.5em;

      .sponsors__sponsor-title {
        font-size: 18px;
        padding: 1em;
      }
    }

    img {
      max-width: 100%;
    }

    .h3 {
      margin-bottom: 2em;
    }

    .thumbnail {
      border: none;
    }

    .caption h3 {
      margin: 0;
      display: none;
    }
  }
}