// Place all the styles related to the public/search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.facet-list-group {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}

ul.facet-list-group li.facet-list-group-item {
  display: table-row;
  width: 100%;
}

.facet-label,
.facet-value {
  display: table-cell;
  overflow-wrap: break-word;
  hyphens: auto;
  padding: .3rem 0;
}

.facet-label {
  text-indent: -15px;
  padding-left: 15px;
  width: 80%;
}

.facet-value {
  text-align: right;
}