$public-background: darken(#203665, 5%);

body.public {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  .navbar {
    background-color: $public-background;
    color: white;

    a {
      color: white;
    }
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: $public-background;
    color: white;
  }

  .navbar-default .navbar-nav > li > a {
    color: lighten($public-background, 66%)
  }
}