$public-background: #185fad;

body.public {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;

  &.pages {
    h1 {
      margin-bottom: 1em;
    }

    p {
      margin-bottom: 1.5em;
    }
  }

  .navbar {
    background-color: $public-background;
    color: white;
    border-color: transparent;
    border-radius: 0;

    .navbar-nav {
      float: right;
      padding-right: 2em;
    }

      a {
      color: white;
    }

    .navbar-brand img {
      max-width: 190px;
    }

    .dropdown-menu {
      background-color: $public-background;
    }

    .caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 4px dashed;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
  }


  b, strong, label, dt {
    font-weight: 600;
  }

  mark {
    background-color: #fafa9e;
    padding: 0;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: $public-background;
    color: white;
  }

  .navbar-default .navbar-nav > li > a {
    color: lighten($public-background, 66%)
  }

  .volume-metadata__list, .journal-metadata__list {
    grid-template-columns: 12em auto;
  }

  .volume-metadata__genre, .journal-metadata__genre {
    color: #666666;
    font-weight: 600;
    font-size: 14px;
  }

  .volume-metadata__census-id, .journal-metadata__census-id {
    font-size: 80%;
    margin-right: .4em;
    font-weight: 600;
  }

  .browse-page__description {
    margin-bottom: 1em;
  }

  .browse-page__brief-result-note {
    font-size: 14px;
    color: #333333;
  }

  .volume__item-page-span, .journal__item-page-span {
    font-size: 90%;
  }

  footer {
    margin-top: 4em;
    margin-bottom: 2em;

    .copyright-notice {
      font-size: 14px;
      display: flex;
      align-items: flex-end;

      img {
        position: relative;
        top: -5px;
      }

      .cc-license-text {
        display: inline-block;
        margin-left: 1em;
        margin-top: 1px;
        text-align: center;
      }
    }

    .contact-us-link {
      text-align: center;
    }
  }


  .navbar {
    min-height: 60px;
  }

  .navbar-brand {
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
  }

  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 13px;
    padding: 9px 10px !important;
  }

  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 16.5px;
      padding-bottom: 16.5px;
      line-height: 27px;
    }
  }

  dl.legend-of-terms {
    grid-template-columns: 15% 60%;
    margin-top: 2em;

    dd {
      margin-bottom: 1em;
    }

    ol {
      li {
        list-style-type: lower-alpha;
      }
    }
  }

}

body.public {
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: $public-background;
    color: white;
  }
}