// Place all the styles related to the public/texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

$metadata-spacing: .25em;

.public-show-text {

    .text-heading {

        margin-bottom: 2em;

        .text-type {
            font-family: 'Noto Serif', serif;
            font-size: 20px;
        }

        h2 {
            font-size: 24px;
        }

        h3 {
            font-weight: 600;
            font-size: 30px;

            .census-id {
                font-weight: normal;
                font-size: 20px;
                margin-right: .4em;
            }
        }
    }
}

// The original box should render on the right of the show
// item page but on the top for small screens.
.public-show-text .controls {
    @extend .col-sm-2;
    margin-bottom: 1em;

    .panel {
        background-color: hsl(36, 63%, 96%);
        border-radius: 2px;
        font-weight: 600;
    }

    ul {
        padding-left: 20px;
        list-style: none;

        .original-launcher {
        }

        li {
            cursor: pointer;
            margin-bottom: .5em
        }
    }
}

.public-show-text .metadata-div, .public-show-text .components {
    @extend .col-sm-8;
}

.public {
    .original-entry {
        background-color: hsl(36, 63%, 96%);
        box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
        padding: 1em 1em;
        font-family: 'Noto Serif', serif;
        line-height: 1.4;
    }

    .metadata, .components {
        h4 {
            font-size: 24px;
            font-weight: 600;
            margin-top: 2em;
            margin-bottom: 1em;
            width: 32%;
            text-align: right;
        }

        dl {
            margin: 20px auto;
            overflow: hidden;
            position: relative;
        }
        dt {
            float: left;
            width: 32%;
            clear: both;
            padding: $metadata-spacing 2% $metadata-spacing 0;
            position: relative;
            text-align: right;
        }
        dd {
            float: right;
            width: 66%;
            padding: $metadata-spacing 0 $metadata-spacing 3%;
        }

        .journal-title {
            font-style: italic;
        }

        .component-collection {
            margin-bottom: 1.25em;

            hr {
                margin-bottom: 3em;
                border-top: 1px solid #cdcdcd;
                margin-top: 0;
                width: 50%;
            }

            .component-collection-title {
                font-weight: 600;
                margin-bottom: .5em;
            }

            .component {
                margin-bottom: 2em;

                &::after {
                    content: "";
                    position: relative;
                    left: -14px;
                    bottom: -1em;
                    height: 15px;
                    width: 25%;
                    border-bottom: 1px solid #cecdcc;
                }

                .component-field {
                    @include make-row();
                }

                .component-heading {
                    font-weight: 600;
                    float: left;
                    margin-right: 15px;
                    color: #647686;
                }
            }
        }
    }

  .fa-external-link-alt {
    font-size: .8em;
    opacity: .8;
    margin-left: .3em;
  }

  a.available-online-notice {
    text-decoration: none;
  }
}

.back-link, .back-link:active, .back-link:hover {
    text-decoration: none;
}

.public {
    .pagination > li > a, .pagination > li > span {
        border: none;
        padding: 6px 8px;
    }

    .list-group-item {
        border: none;
    }

}

.browse-all-texts h2 {
    font-size: 24px;
}

.browse-all-texts h3 {
    font-size: 20px;
    font-weight: 600;
}

.modal-dialog.modal-lg {
    position: absolute;
    right: 0;
    width: 500px;
}

.public .modal-backdrop.in {
    opacity: 0.25;
}

body.public.modal-open {
    overflow: scroll;
}