// Place all the styles related to the public/texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

$metadata-spacing: .25em;

.public-show-text {
  h2 {
    font-size: 24px;
  }

  h3 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 1em;

    .census-id {
      font-weight: normal;
      font-size: 20px;
      margin-right: .4em;
    }
  }
}

// The original box should render on the right of the show
// item page but on the top for small screens.
.public-show-text .original-div {
  @extend .col-sm-6;
  @extend .col-sm-push-6;
  @extend .col-xs-12;
  margin-bottom: 1em;
}

.public-show-text .metadata-div {
  @extend .col-sm-6;
  @extend .col-sm-pull-6;
  @extend .col-xs-12;
}

.public {
  .original-entry {
    background-color: hsl(36, 63%, 96%);
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    padding: 1em 1em;
    font-family: 'Noto Serif', serif;
    line-height: 1.4;
  }

  .metadata {
    dl {
      margin: 20px auto;
      overflow: hidden;
      position: relative;
    }
    dt {
      float: left;
      width: 32%;
      clear: both;
      padding: $metadata-spacing 2% $metadata-spacing 0;
      position: relative;
      text-align: right;
    }
    dd {
      float: right;
      width: 66%;
      padding: $metadata-spacing 0 $metadata-spacing 3%;
    }

    .journal-title {
      font-style: italic;
    }

    .component-collection {
      margin-bottom: 1.25em;

      .component-collection-title {
        font-weight: 600;
        margin-bottom: .5em;
      }

      .component {
        margin-bottom: 2em;

          .component-field {
              @include make-row();
          }

          .component-heading {
              font-weight: 600;
              float: left;
              margin-right: 15px;
              color: #647686;
          }
      }
    }
  }
}

.back-link, .back-link:active, .back-link:hover {
  text-decoration: none;
}


.public {
  .pagination > li > a, .pagination > li > span {
    border: none;
    padding: 6px 8px;
  }

  .list-group-item {
    border: none;
  }

}

.browse-all-texts h2 {
  font-size: 24px;
}

.browse-all-texts h3 {
  font-size: 20px;
  font-weight: 600;
}