<div class="row">
  <div class="pagination-stuff col-md-10">
    <%= paginate @people %>
  </div>
  <div class="new-thing col-md-2">
    <%= link_to  '<button class="btn btn-defaul btn-success">+ Add a new person</button>'.html_safe, new_person_path %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <% @people.each do |author| %>
          <li class="list-group-item">
            <%= link_to author.full_name, edit_person_path(author) %>
          </li>
      <% end %>
    </ul>

    <%= paginate @people %>
  </div>
</div>