<% if @new_search %>
  <div class="col-lg-12"><h3>Enter a keyword search query</h3></div>
<% elsif @texts.size > 0 %>
  <!-- BEGIN facets -->
  <div class="col-lg-3 col-md-3 col-sm-4">
      <%= render 'facet_limiters' %>
  </div>
  <!-- END facets -->

  <!-- BEGIN search results -->
  <div class="col-lg-9 col-md-9 col-sm-8">
    <%= render 'search_results_list' %>
  </div>
  <!-- END search results -->
<% else %>
  <div class="col-lg-12">
    <div class="results-list">
      <h3><%= page_entries_info @texts, entry_name: 'records' %></h3>
    </div>
  </div>
<% end %>