<h1>Editing Place</h1>
<div class="col-md-7">
<%= render 'form', place: @place %>
</div>
<div class="col-md-5">
  <h2>Appears in...</h2>
  <ul>
    <% if @texts %>
        <% @texts.each do |text| %>
            <li><%= link_to text.title, edit_admin_text_path(text) %></li>
        <% end %>
    <% end %>
  </ul>
  <%= render partial: 'shared/changes', locals: {versions: @place.versions} %>
</div>