<h3>Appears as <%= role %> in</h3>
<ul class="list-group">
    <% texts = name.texts(role).sort_by {|text| [text.sort_date, text.sort_title] }.reverse %>
    <% texts.each do |text| %>
    <li class="list-group-item">
      <%= render 'shared/text_tombstone', text: text, show_topic_author: true %>
    </li>
  <% end %>
</ul>