<span class="topic-author-english"><%= text.topic_author.full_name %></span>
<% unless text.topic_author.greek_full_name.blank? %>
/ <span class="topic-author-greek"><%= text.topic_author.greek_full_name %></span>
<% end %>
<%= display_dates text.topic_author %>