<h1>Editing Volume</h1>

<div class="col-md-7">
  <%= render 'form', volume: @volume %>
</div>

<div class="col-md-5">
  <%= render partial: 'shared/changes', locals: {versions: @volume.versions} %>
</div>