<% page_title @volume.title %>

<div class="container public-show-name">

  <%# Main content block %>

  <div class="row">
    <h1 class="col-md-12 author_heading">
      <span class="author-heading__english-name"><%= @volume.title %></span>
    </h1>
  </div>

  <div class="row">

    <div class="col-md-12">
      <%= render 'volume_metadata' %>
    </div>
  </div>
</div>