<h2>About the CENSUS</h2>
<h3>Vision</h3>

<div class="mgsa-endorsement">The Census Team is proud to have the endorsement of the Modern Greek Studies
  Association.
</div>

<p>The <strong>'CENSUS of Modern Greek Literature'</strong> aims to facilitate access to Greek literature for speakers
  of English by providing references to all discoverable English-language translations of modern Greek literature and to
  all discoverable studies in English that relate to modern Greek literature from the twelfth century AD to the present.
<p>The first section now posted online is <strong>"Greek Authors 19th-21st centuries"</strong>. This initial section
  includes references to 800 Greek literary authors (approximately 7,000 entries). The covered timespan coincides
  roughly with the 200 years since the Greek Revolution of 1821 that led to the foundation of the modern Greek state – a
  bicentennial richly celebrated worldwide in 2021. The CENSUS aims further to incorporate the following sections:
  Literary History (including early modern Greek literature, 12th-18th centuries AD); Anthologies; Bibliographical
  sources.
<p>The CENSUS should be of interest to those seeking to establish the extent of the diaspora of modern Greek literature
  in the major language of the Western world and also to those seeking to familiarize themselves with modern Greek
  literature but lacking the necessary skills to read it in its original language.
<p>In its prospective audience, the CENSUS aims to function as a standard work of reference for students and faculty in
  Modern Greek Studies, as a guide to translators, and an innovative resource for libraries building collections in
  Hellenic Studies. It also hopes to attract greater numbers of scholars (in other disciplines), editors, publishers,
  and general readers everywhere in the English-speaking world to the contemporary literature of Greece.
<p>A video-recording of the first presentation of the new website of the “CENSUS of Modern Greek Literature” project (in
  April 2022) is found <a href="https://www.youtube.com/watch?v=5kS_MDTI-j0">here</a>.</p>
<p>More information on the CENSUS can be found at
  <a href="https://www.censusofmoderngreekliterature.org/">censusofmoderngreekliterature.org</a>
<p>At this stage, the CENSUS is a work-in-progress that will become as useful as we all can make it together.

<h3>History</h3>
<p>The CENSUS project began at Harvard University (1981-1985) and continued its development at Boston College
  (1986-2018). An early presentation of its results (to date) was given at the Modern Greek Studies Association's
  <a href="https://www.mgsa.org/pdfs/bulletins/MGSA_Bulletin.vol.16.no.2_1984.pdf">conference</a> (cf. pp. 31-32) held
  at Princeton University in April 1984. Strong links with the
  <a href="http://mgsa.org/">Modern Greek Studies Association</a>, and especially the actions of its Executive Director
  John O. Iatrides, led to the publication of Dia Philippides' 1990 CENSUS
  <a href="https://www.mgsa.org/Initiatives/Publications.html">monograph</a> and to related agreements with the
  <a href="https://www.ascsa.edu.gr/research/gennadius-library">Gennadius Library</a> of the American School of
  Classical Studies and the
  <a href="http://www.ekebi.gr/frontoffice/portal.asp?cpage=NODE&cnode=138&clang=1">National Book Centre of Greece</a>
  (ΕΚΕΒΙ). A
  collaborative project also linked the CENSUS's principal investigators with the
  <a href="https://greeklanguage.gr/en/?v=7516fd43adaa">Centre for the Greek Language</a> (ΚΕΓ).
<p>As a crucial phase towards the creation of an online database (starting in 2016), the CENSUS benefitted from its
  collaboration with the Digital Scholarship Group of the Boston College Libraries. A workshop of Boston College
  undergraduates was engaged in data-entry and correction (Winter and Spring 2018).
<p>In 2020 the CENSUS initiated a new collaboration with the
  <a href="http://www.laskaridisfoundation.org/en/opening-of-the-endowed-marilena-laskaridis-chair-of-modern-greek-studies-at-the-university-of-amsterdam/">Marilena
    Laskaridis</a> Chair of Modern Greek Studies at the University of Amsterdam. This collaboration has been critical
  towards the completion of the <strong>"Greek Authors 19th-21st centuries"</strong> section and its launch online,
  which was supported by the
  <a href="https://www.laskaridisfoundation.org/en/">Aikaterini Laskaridis Foundation</a>.</p>


<h3>Main characteristics of the CENSUS</h3>
<p>A special, unique feature of the CENSUS is that it <strong>fully indexes</strong> the contents of large collective
  volumes such as
  anthologies or journal issues (in greater detail than in any other available source). Personal names are also indexed
  by their function (e.g., literary author, translator, editor, etc.). Both features thus facilitate detailed searches
  (both simple and complex) and precise retrieval.

<p>The online presence of the CENSUS makes the entire collection of references <strong>fully searchable</strong>.
  Furthermore, besides
  connecting the variant spellings of the literary authors' names in English with their Greek name,
  <strong>linked data</strong> connect
  the CENSUS's collection with other standard databases and lead the reader directly to online sources for
  <strong>immediate reading</strong> (where copyright permits).

<p>As an online database, the CENSUS becomes fully <strong>extensible</strong>.
