<h1>The <em>CENSUS of Modern Greek Literature</em> in the English-Speaking World</h1>

<div class="row">
  <div class="col-md-8">
    <p>The
      <em>CENSUS (= <strong><u>C</u></strong>hecklist of <strong><u>EN</u></strong>glish-Language
        <strong><u>S</u></strong>ources
        <strong><u>U</u></strong>seful in the <strong><u>S</u></strong>tudy of Modern Greek Literature) </em>facilitates
      access to modern Greek literature for speakers of English, by providing
      <strong>references to <em>all</em> the English-language translations of modern Greek literature and to
        <em>all </em>the
        critical studies in English that relate to modern Greek literature from the twelfth century AD to the present (a
        span of ca. 9 centuries!), published anywhere in the world</strong>. The CENSUS collection includes references
      both
      to works published in full book-form <em>and</em> to items published <em>within </em>volumes, such as shorter
      literary
      pieces and articles usually 'hidden' within larger collective works. The current range of discovered references
      (all
      in English) extends — by their dates of publication — from AD 1813 to today.
    </p>

    <p>The CENSUS project currently aims at publishing a second, expanded edition of the original
      monograph published in 1990:<br>Dia M. L. Philippides, <strong><em><u>C</u></em></strong><em>heck-list of
      <strong><u>EN</u></strong>glish-Language <strong><u>S</u></strong>ources <strong><u>U</u></strong>seful in the
      <strong><u>S</u></strong>tudy of Modern Greek Literature (1824-1987)</em>. New Haven, CT: Modern Greek Studies
      Association, 1990. xxviii, 248 p. Second printing 1992. ISBN 0912105011; 9780912105017.</p>

    <div class="about-page__census-workers-image">
      <%= image_tag 'census-workers.jpeg', alt: 'Boston College students working on the CENSUS' %>
    </div>

    <p>
      The CENSUS project began at Harvard University (1981-1985) and continued its development at Boston College
      (1986-2018). An early presentation of its results (to date) was given at the Modern Greek Studies Association's
      <font color="#0c4e73"><a href="https://www.mgsa.org/pdfs/bulletins/MGSA_Bulletin.vol.16.no.2_1984.pdf"><font color="#160a71"><strong>conference</strong></font></a>
      </font>(cf. pp. 31-32) held at Princeton University in April 1984. Strong links with the
      <a href="http://mgsa.org"><font color="#0a0768"><strong>Modern Greek Studies Association</strong></font></a>,
      and especially the actions of its Executive Director John O. Iatrides, led to the publication of Dia Philippides'
      1990 CENSUS
      <a href="https://www.mgsa.org/Initiatives/Publications.html"><font color="#160a71"><strong>monograph</strong></font></a>
      and to related agreements with the
      <a href="https://www.ascsa.edu.gr/research/gennadius-library"><font color="#0a0768"><strong>Gennadius
        Library</strong></font></a> of the American School of Classical Studies and the
      <font color="#181b8a"><a href="http://www.ekebi.gr/frontoffice/portal.asp?cpage=NODE&amp;cnode=138&amp;clang=1"><font color="#1a218e"><strong>National
        Book Centre of Greece</strong></font></a> (</font><font color="#2a2a2a">ΕΚΕΒΙ</font>). A collaborative project
      also linked the CENSUS's principal investigators with the
      <a href="https://greeklanguage.gr/en/?v=7516fd43adaa"><font color="#2226bd"><strong>Centre </strong><strong>for</strong><strong>
        the Greek Language</strong></font></a> (ΚΕΓ). During the years 2016-2018 the CENSUS benefitted from its adoption
      as an 'approved' project by the Boston College Libraries, with the Digital Scholarship Group and Library Systems
      developing the foundations for its online presence.</p>

    <p>The (international) team of the CENSUS is open to <strong>new collaborations and partnerships</strong> for its next stages.</p>
  </div>

  <div class="col-md-4 about-page__cover-image-col">
    <%= image_tag 'census-front-cover.jpeg' %>
  </div>

</div>
