<h2>Browsing</h2>

<p>The following tabs are available for browsing: Texts, Authors, People, Volumes, Journals</p>

<h3 class="instructions__small-header"><a href="/texts">Browsing Texts</a></h3>
<p>All the Greek literary authors (in alphabetical order) with the translations and studies identified under each author
  heading.

<h3 class="instructions__small-header"><a href="/authors">Browsing Authors</a></h3>
<p>All the Greek literary authors who have been indexed, in alphabetical order. Each name is given in its Greek form and
  also in English <a href="/help/transliteration">according to the established transliteration</a>.</p>

<p>For each author, the following tabs are enabled: Translations (books); Translations (items); Studies (books); Studies
  (items); Profile.

<p>Under Translations, the works are listed in alphabetical order by title.

<p>Under Studies, the works are listed in alphabetical order by their author. Special issues of periodicals and
  dissertations/theses are included under Studies (books).

<p>The Profile includes:</p>
<ul>
  <li>for the author’s name: the authority forms in standard databases (LOC, NLG, VIAF.org) and the varied forms that
    appear
    in the CENSUS;
  <li>for the published works under the author’s heading: place(s) of publication; a timeline with date ranges (the
    places
    and the timeline include frequencies)
</ul>

<h3 class="instructions__small-header"><a href="/people">Browsing People</a></h3>

<p>All people with active roles in the publications (the Greek here includes only the forms that appear in Greek in the
  CENSUS). People include: (Greek literary) authors, authors of studies, translators, editors, front/back matter
  authors, illustrators, performers.

<p>Works about an author will not appear here under his/her name. For works about Greek literary authors, see their
  Author record.


<h3 class="instructions__small-header"><a href="/volumes">Browsing Volumes</a></h3>

<p>All book-length items in which smaller CENSUS items appear. For each volume, only its CENSUS-related contents are
  listed, in order of appearance.

<p>For volumes with dual-language titles in which the Greek title precedes the Latin-alphabet title, browse using
  the Greek alphabet.

<h3 class="instructions__small-header"><a href="/journals">Browsing Journals</a></h3>
<p>All journal titles in which CENSUS items have been identified. For each journal, only the issues with CENSUS-related
  contents are listed, in chronological order.

<p>For journals with dual-language titles in which the Greek title precedes the Latin-alphabet title, browse using
  the Greek alphabet.

<h2>Searching</h2>

<p>Searching is by keywords (‘simple search’) or by Advanced search. Both types of searches can be refined by
  post-search filters; the Advanced search also allows pre-search settings. Searching can be done in English or in
  Greek. In searches in Greek, the diacritics can be either included or ignored.

<h3 class="instructions__small-header">Search by keywords (Simple search)</h3>

<p>Examples:</p>
<ul class="instructions__example-list">
  <li>
    <div><span class="instructions__search-string">Ithaca</span></div>
    Will search for any entry with the word “Ithaca”
  </li>
  <li>
    <div><span class="instructions__search-string">Morning Sea</span></div>
    Will search for entries with both words “Morning” and “Sea”
  </li>
  <li>
    <div><span class="instructions__search-string">"Cavafy in Liverpool"</span></div>
    Will search for entries with the exact phrase “Cavafy in Liverpool”
  </li>
</ul>

<h3 class="instructions__small-header">Advanced Search and Filters</h3>

<p>Use AND, OR, NOT between search terms. Add or remove additional search boxes.

<h3 class="instructions__small-header">Search History & Export</h3>

<p>Search histories are currently limited to a single session.

<p>In the future, users will be able to export the results of their searches in a number of formats. At present ‘copy
  and paste’ are the methods to be used in saving.
