<h1>Contact us</h1>

<p>The editors of the CENSUS of Modern Greek Literature in Translation welcome comments, corrections to records, suggestions for new content or features, and general feedback from users. You may also contact the editors to become an institutional partner or a voluntary contributor.</p>

<p><strong>Email for the project's editors</strong>: <a href="mailto:census@moderngreekliterature.org">census@moderngreekliterature.org</a></p>

