<h2>Future Outlook</h2>

<h3>PHASE 2 (fundamental expansion)</h3>
<ul>
  <li>Filling out the AUTHORS section (corrections/amplifications to entries and features; addition of new entries
    [especially online media]; additional links to online sources)
  </li>
  <li>Posting of the other sections (Literary History [including early modern Greek literature, 12th-18th centuries AD];
    Anthologies; Bibliographical sources)
  </li>
  <li>Outreach (solicitation of user feedback; a newsletter)</li>
  <li>Publication of the CENSUS in book-form</li>
</ul>

<h3>PHASE 3 (further expansion and sustainability)</h3>
<ul>
  <li>Expanding user involvement (crowdsourcing for new information)</li>
  <li>Adding or adapting features (first under consideration: tags; DOI’s; Greek original titles and dates for all
    entries; abstracts; book reviews; new translations or essays offered by authors; illustrations [photos of authors;
    book covers])
  </li>
  <li>Greater data visualization capability</li>
  <li>Automating the capture of new entries</li>
  <li>Planning and acting for sustainability – the future of the project</li>
</ul>
