<h1>Helpful pointers</h1>

<p>Some helpful pointers about using the CENSUS:</p>

<ul>
  <li>The online CENSUS is based on a print book format, which fact is responsible for some irregularities in the
    database
  </li>
  <li>A reminder: only the ‘AUTHORS 19th-21st centuries’ section is currently posted online. Sections to follow:
    Literary History (including early modern Greek literature, 12th-18th centuries AD); Anthologies; Bibliographical
    sources
  </li>
  <li>On the spellings of the Greek literary authors’ names in English see under ‘Transliteration’</li>
</ul>

<p>With a few exceptions:</p>
<ul>
  <li>The CENSUS collection of references does not include the works of Greek literary authors who write directly in
    English
  </li>
  <li>Book reviews have not been included</li>
  <li>Children's literature is only marginally represented</li>
  <li>The titles of (poetry) collections are given when discovered; complete collections do not have their individual
    poems itemized
  </li>
</ul>