<h1>The CENSUS in the Media</h1>

<ul>
  <li>
    <a href="https://www.saronicmagazine.gr/epilegmena-arthra/60685-i-aigina-mas-
empneei?fbclid=IwAR1EkXCfiT3ayAY2LfHLWSvq_fzcvYOhoHFTRT7dDUlFoND0D9_Wva"><cite>Saronic Magazine</cite> 96 (Dec. 2022) [in Greek]</a>
  </li>

  <li>
    <a href="https://www.greeknewsagenda.gr/interviews/reading-greece/7698-reading-greece-professor-dia-philippides-on-the-‘census-of-modern-greek-literature’
">Greek News Agenda: Reading Greece (21 June 2022)</a>
  </li>

  <li>
    <a href="https://www.bc.edu/bc-web/bcnews/humanities/language/modern-greek-literature-resource.html">Boston College
      News (May 2022)</a>
  </li>

  <li>
    <a href="https://www.ekathimerini.com/culture/1181214/online-presentation-of-census-website-of-modern-greek-literature/">Kathimerini
      newspaper -- English version (1 April 2022)</a>
  </li>
</ul>