<div class="sponsors">
  <div class="row">
    <div class="col-md-12 sponsors">
      <p>Major sponsors of the CENSUS (1998-present) include:</p>
      <div class="col-md-4 sponsors__sponsor-card">
        <a href="https://www.culture.gov.gr/en/SitePages/default.aspx">
          <%= image_tag 'yppoa_logo.png', class: 'image-holder__img' %>
        </a>
      </div>
      <div class="col-md-4 sponsors__sponsor-card">
        <a href="https://www.onassis.org/foundation/public-benefit-foundation">
          <%= image_tag 'onassis-foundation.png', class: 'image-holder__img' %>
        </a>
      </div>
      <div class="col-md-4 sponsors__sponsor-card">
        <a href="http://www.laskaridisfoundation.org/en/">
          <%= image_tag 'laskaridis-logo.png', class: 'image-holder__img' %>
        </a>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 sponsors__sponsor-card">
        <a href="http://www.idrimaurani.gr/">
          <%= image_tag 'ouranis-logo.jpg', class: 'image-holder__img', style: 'padding-top: 1em' %>
        </a>
      </div>
      <div class="col-md-4 sponsors__sponsor-card">
        <a href="http://www.idrimaurani.gr/">
          <p class="sponsors__sponsor-title">Petros Charis Foundation of the Academy of Athens</p>
        </a>
      </div>
      <div class="col-md-4 sponsors__sponsor-card">
        <p class="sponsors__sponsor-title">The Costas and Mary Maliotis Charitable Foundation</p>
      </div>
    </div>
  </div>
</div>