<div class="sponsors">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <!--<h3>About</h3>-->
      <p>The <strong>CENSUS of Modern Greek Literature</strong> facilitates
        access to modern Greek literature for speakers of English, by providing references to all the English-language
        translations of modern Greek literature and to all the critical studies in English that relate to modern Greek
        literature from the 1815 AD to the present, published anywhere in the
        world. The CENSUS collection includes references both to works published in full book-form and to items
        published within volumes, such as shorter literary pieces and articles usually 'hidden' within larger collective
        works.</p>
    </div>
    <div class="col-sm-6 col-md-6">
<!--      <h3 class="sponsors-heading">Sponsoring organization</h3>-->
      <div class="thumbnail">
        <a href="http://www.laskaridisfoundation.org/">
          <%= image_tag 'laskaridis-logo.png', alt: 'Aikaterini Laskaridis Foundation logo', height: 300 %>
        </a>
        <div class="caption">
          <h3><a href="http://www.laskaridisfoundation.org/">Aikaterini Laskaridis Foundation</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>