<h1>Legend of terms</h1>

<dl class="legend-of-terms">
  <dt>Authors</dt>
  <dd>The Greek literary authors (λογοτέχνες) identified as ‘Topic authors’, with their translated works (‘by’ them)
    and/or
    the studies that discuss them (‘about’ them) gathered under an ‘Author heading’ established for each author
  </dd>

  <dt>Author heading</dt>
  <dd>Each Greek literary author is given an Author heading, in which her/his name is listed in Greek and in a
    standardized
    spelling in English (see ‘Transliteration’). This is the CENSUS’ authority form that identifies the author uniquely
    and subsumes all references to her/him. A list of all author headings can be found under the
    <a href="/authors">Authors</a> tab
  </dd>

  <dt>Topic Authors</dt>
  <dd>see ‘Authors’</dd>

  <dt>People (or ‘persons cited’)</dt>
  <dd>The Greek literary authors (known as ‘Authors’ or ‘Topic authors’) and all other persons who have been indexed
    (e.g.,
    translators, authors of studies, editors, illustrators, authors of front or back matter, performers)
  </dd>

  <dt>Texts</dt>
  <dd>All the entries in the CENSUS database</dd>

  <dt>Volumes</dt>
  <dd>Books (or other large units such as websites) that contain CENSUS items but otherwise lie outside the current
    scope of
    the CENSUS
  </dd>

  <dt>Journals</dt>
  <dd>The journals from which CENSUS references have been drawn. Only the CENSUS-appropriate items – and their journal
    issues – will be recorded
  </dd>

  <dt>Text types</dt>
  <dd>Each reference has been classified under one of the following types:
    <ol>
      <li>Translation (book-length)
      <li>Translation (‘items’ published within larger contexts [volumes, journals, websites])
      <li>Study (book-length, including theses and dissertations)
      <li>Study (‘items’ published within larger contexts [volumes, journals, websites])
    </ol>
  </dd>

  <dt>Items</dt>
  <dd>Entries published within larger contexts (volumes, journals, websites)</dd>

  <dt>Material types</dt>
  <dd>Book, journal, online, conference proceedings, thesis/dissertation, or ‘other’</dd>

  <dt>Genre</dt>
  <dd>Literary genres individually identified (for translations) plus a generic term ‘study’ (for studies).
    Note: ‘Prose’ currently does not include all ‘Prose’, but is limited to entries that do not fall under another
    ‘Prose’
    category (e.g., short story, novel…)
  </dd>

  <dt>Bilingual</dt>
  <dd>Sources containing both Greek and English. (A filter is provided for ‘other languages’ beyond Greek and
    English)
  </dd>

  <dt>Entry numbers</dt>
  <dd>Entries published up through 2012 have an individual CENSUS entry number, coordinating with the forthcoming print
    book of the CENSUS.
    <br><br>Newer entries published from 2013 to today have only a system number, which will not be displayed
  </dd>


  <dt>Special issues</dt>
  <dd>Journal issues that have been identified as dedicated to CENSUS authors or related topics</dd>

  <dt>Collected volumes</dt>
  <dd>Volumes identified as containing a significant amount of a CENSUS author’s work</dd>

  <dt>Sponsoring organization</dt>
  <dd>A term used for host institutions, mainly in the case of theses and dissertations</dd>
</dl>

<h2>TYPOGRAPHICAL SYMBOLS</h2>

<dl class="legend-of-terms">
  <dt>Asterisks</dt>
  <dd>Used to mark entries that have not been personally viewed by the CENSUS editors</dd>

  <dt>Pipes (‘|’)</dt>
  <dd>Used as separators within fields (e.g., to separate multiple poem titles published as a unit)</dd>

  <dt>Slashes (‘/’)</dt>
  <dd>Used between bilingual parts of a field (e.g., Greek / English dual-language titles)</dd>

  <dt>Square brackets</dt>
  <dd>Used for editorial comments or additions to the main entry made by the CENSUS editors</dd>
</dl>
