<h1>Sites of related interest</h1>

<h2>General</h2>
<ul>
  <li><a href="http://www.authors.gr/members">Hellenic Authors Society</a> (with photos of their members)</li>
  <li><a href="https://pen-greece.org/en/our-members/">PEN Greece</a> (with photos of their members)</li>
  <li><a href="https://pencyprus.com.cy/members/">PEN Cyprus</a> (with photos of their members)</li>
  <li>
    <a href="https://www.greek-language.gr/greekLang/literature/bibliographies/from_greek/bibliography.html">Centre for
      the Greek Language</a> (database: translations of modern Greek literature into other languages)
  </li>
  <li><a href="https://www.mgsa.org/">Modern Greek Studies Association (North America)</a></li>
  <li><a href="https://www.eens.org/">European Society of Modern Greek Studies</a></li>
  <li><a href="http://www.moderngreek.org.uk/society/welcome">Society for Modern Greek Studies (UK)</a></li>
  <li><a href="https://www.facebook.com/ModernGreekStudiesFoundation/">Modern Greek Studies Foundation (Australia)</a>
  </li>
  <li><a href="https://gc.fairead.net/about">Greek Studies Now: A Cultural Analysis Network</a></li>
  <li><a href="https://www.mgsa.org/Resources/port.html">The Greek American Studies Resource Portal</a></li>
  <li><a href="https://ergon.scienzine.com/page/about">Ergon: Greek/American Arts and Letters (a journal)</a></li>
  <li><a href="https://censusofmoderngreekliterature.org">‘CENSUS of Modern Greek Literature’ project notes</a>
    (temporary)
  </li>
</ul>

<h2>Individual Authors</h2>
<ul>
  <li><a href="https://www.onassis.org/initiatives/cavafy-archive/">Cavafy (Archive)</a></li>
  <li><a href="https://gatsosarchive.org/">Gatsos Archive</a></li>
</ul>