<h1>News</h1>

<ul class="full-news__list">
  <li>
    <div class="full-news__dateline">2023-03-31</div>
    <a href="/pdf/census_analytics-29-01-2023-27-02-2023.pdf">Google Analytics</a> (March 2023)
  </li>
  <li>
    <div class="full-news__dateline">2023-02-01</div>
    The CENSUS team is preparing the next section, ‘Literary History 19th-21st centuries’.
  </li>
</ul>