<h1>News</h1>

<ul class="full-news__list">
  <% @news.each do |item| %>
    <li>
      <div class="full-news__dateline"><%= item.posted_on %></div>
      <div>
        <%= markdown item.content %>
      </div>
    </li>
  <% end %>
</ul>