<h1>Collaborators on the CENSUS project</h1>

<h2>Current</h2>

<ul class="collaborators-list">
  <li><span class="collaborators-list__name">Dia Philippides</span>, Professor Emerita, Dept. of Classical Studies,
    Boston College
  </li>
  <li><span class="collaborators-list__name">Wim F. Bakker</span>, Professor Emeritus of Byzantine and Modern Greek
    Language and Literature, University of Amsterdam
  <li><span class="collaborators-list__name">Benjamin Florin</span>, Senior Library Applications Developer - Library
    Applications, O'Neill Library, Boston College
  <li><span class="collaborators-list__name">Peter Klapes</span> (BC ’19 [B.A.] and '22 [M.A.]), research assistant
    (2015-2020); project manager (2021- )
  <li>A team of faculty and graduate students at the University of Amsterdam, under the aegis of the
    <span class="collaborators-list__name">Marilena Laskaridis</span>
    Chair of Modern Greek Studies, supported by the Aikaterini Laskaridis Foundation (2020- ):
    <span class="collaborators-list__name">Dr. Charalambos Passalis</span>
    (philologist, guest lecturer at the Department of Modern Greek Studies, 2019-2022),
    <span class="collaborators-list__name">Anthi Argyriou</span> (PhD Candidate at
    the Amsterdam School for Cultural Analysis; Faculty of Humanities),
    <span class="collaborators-list__name">Yiorgos-Evgenios Douliakas</span> (MA Comparative
    Literature and Cultural Analysis, Leiden University; PhD Candidate at the Amsterdam School for Cultural Analysis;
    Faculty of Humanities)
</ul>

<h2>Active advisors</h2>
<ul class="collaborators-list">
  <li><span class="collaborators-list__name">Maria Boletsi</span>, Endowed Professor, Marilena Laskaridis Chair of
    Modern Greek Studies, University of Amsterdam
  </li>
  <li><span class="collaborators-list__name">Michaela Iatrou</span>, philological researcher, Athens</li>
  <li><span class="collaborators-list__name">Maria Kakavas</span>, Lecturer in Classical Studies, Boston College</li>
  <li><span class="collaborators-list__name">Rhea Karabelas Lesage</span>, Librarian for Hellenic Studies, Harvard
    College Library
  </li>
  <li><span class="collaborators-list__name">Tatiana Markaki</span>, Chair, Department of Modern Greek Language and
    Culture, University of Amsterdam
  </li>
  <li><span class="collaborators-list__name">Kostas Sofronas</span>, General Counsel, Abry Partners</li>
  <li><span class="collaborators-list__name">Irini Solomonidi</span>, Senior Librarian, Gennadius Library, American
    School of Classical Studies at Athens
  </li>
  <li><span class="collaborators-list__name">Alfred Vincent</span>, Honorary Associate, University of Sydney</li>
  <li>Colleagues at Boston College and beyond
</ul>

<h2>Recent</h2>
<ul class="collaborators-list">
  <li>
    Colleagues in the Digital Scholarship Group and Library Systems, O’Neill Library, Boston College:
    <span class="collaborators-list__name">Anna Kijas</span> (2016-2018), Senior Digital Scholarship Librarian;
    <span class="collaborators-list__name">Jesse Martinez</span> (2018), Library Applications Developer;
    <span class="collaborators-list__name">Nancy Adams</span> (2016), Digital Publishing Assistant - Scholarly
    Communication
  </li>
  <li>
    A workshop of Boston College undergraduates (Winter and Spring 2018):
    <span class="collaborators-list__name">Angelos Bougas</span>,
    <span class="collaborators-list__name">Peter Klapes</span>,
    <span class="collaborators-list__name">Eleni Krupinski</span>,
    <span class="collaborators-list__name">Marry Ann Orfanos</span>,
    <span class="collaborators-list__name">Violet Papathanasiou</span>,
    <span class="collaborators-list__name">Irene Sahinidis</span>
  </li>
</ul>