<h1>Sponsors</h1>

<p>The CENSUS project is grateful for the generous support it receives from institutions, foundations, and individual
  donors.</p>

<p>Major sponsors of the CENSUS (1998-present) include:</p>

<ul>
  <li><a href="https://www.culture.gov.gr/en/SitePages/default.aspx">Hellenic Republic: Ministry of Culture and Sports (Department of International Relations)</a></li>
  <li><a href="https://www.onassis.org/foundation/public-benefit-foundation">Alexander S. Onassis Public Benefit Foundation</a></li>
  <li>Costas and Mary Maliotis Charitable Foundation</li>
  <li><a href="http://www.idrimaurani.gr/">Costas and Eleni Ouranis Foundation of the Academy of Athens</a></li>
  <li><a href="http://petrosharisfoundation.gr/">Petros Charis Foundation of the Academy of Athens</a></li>
  <li><a href="http://www.laskaridisfoundation.org/en/">Aikaterini Laskaridis Foundation</a><br></li>

  <li>Daphne and George Hatsopoulos</li>
  <li>Drake Behrakis</li>
  <li>Dave Krupinski and Katerina Paraskevopoulou<br></li>

  <li>Boston College Libraries</li>
  <li>Boston College: Provost’s Office, Dean’s Office (Arts and Sciences)</li>
  <li>The Boston College Department of Classical Studies</li>

</ul>