<h1>Sponsors</h1>

<p>The CENSUS project is grateful for the generous support it receives from institutions, foundations, and individual
  donors.</p>

<p class="sponsors-page__list-description">Institutional sponsors of the CENSUS (1998-present):</p>

<ul class="sponsors-page__sponsors-list">
  <li><a href="https://www.culture.gov.gr/en/SitePages/default.aspx">Hellenic Republic: Ministry of Culture and Sports
    (Department of International Relations)</a></li>
  <li><a href="https://www.onassis.org/foundation/public-benefit-foundation">Alexander S. Onassis Public Benefit
    Foundation</a></li>
  <li>Costas and Mary Maliotis Charitable Foundation</li>
  <li><a href="http://www.idrimaurani.gr/">Costas and Eleni Ouranis Foundation of the Academy of Athens</a></li>
  <li><a href="http://www.academyofathens.gr/en/foundations/chari">Petros Charis Foundation of the Academy of Athens</a></li>
  <li><a href="http://www.laskaridisfoundation.org/en/">Aikaterini Laskaridis Foundation</a><br></li>
</ul>

<p class="sponsors-page__list-description">Individual sponsors:</p>
<ul class="sponsors-page__sponsors-list">
  <li>Daphne and George Hatsopoulos</li>
  <li>Drake Behrakis</li>
  <li>Dave Krupinski and Katerina Paraskevopoulou<br></li>
</ul>

<p class="sponsors-page__list-description">Collaboration/Support:</p>
<ul class="sponsors-page__sponsors-list">
  <li>Boston College Libraries</li>
  <li>Boston College: Provost’s Office, Dean’s Office (Arts and Sciences)</li>
  <li>The Boston College Department of Classical Studies</li>
  <li>The Faculty Micro Resource Center, Boston College</li>
</ul>