<h1>Transliteration of Greek Literary Author Names</h1>

<p>Author headings follow a unified system of transliteration/transcription of the Greek, according to the following
  scheme:</p>

<ul class="help__transliteration-list">
  <li>β: v
  <li>γ: g (not gh, or y, or j)
  <li>δ: d (not dh)
  <li>η: i (not e)
  <li>θ: th
  <li>κ: k (not c)
  <li>ξ: x
  <li>ρ: r (not rh)
  <li>σ: s
  <li>υ: y (but also see below on diphthongs)
  <li>φ: f (not ph)
  <li>χ: ch (not h or kh)
  <li>ψ: ps
  <li>ω: o
</ul>
Diphthongs
<ul class="help__transliteration-list">
  <li>αι: ai εi: ei οι: oi ου: ou
  <li>αυ: af or av ευ: ef or ev (according to sound)
</ul>
Double consonants
<ul class="help__transliteration-list">
  <li>μπ: mb (b in word-initial position)
  <li>γγ, γκ: ng (g in word-initial position)
  <li>ντ: nt (d in word-initial position, and when –n- silent, in medial position)
  <li>τσ: ts
  <li>τζ: tz
</ul>

<p>Under the Author headings, the names of Greek literary authors are recorded with their spelling(s) as found in the
  sources.</p>

<p>In certain cases the transliterated form preferred by an author has been adopted for the Author heading:</p>
<ul>
  <li>Anghelaki-Rooke, Katerina</li>
  <li>Calas, Nicolas</li>
  <li>Capetanakis, Demetrios</li>
  <li>Capri-Karka, Carmen</li>
  <li>Cavafy, C.P.</li>
  <li>Chioles, John
  <li>Cicellis, Kay
  <li>Haviaras, Stratis
  <li>Rodocanachi, C.P.
  <li>Tacopoulos, Paris
  <li>Thaniel, George.
</ul>

<p>Regrettably, a few other authors’ names are rendered in the headings according to the standard transliteration:
<ul>
  <li>Giatromanolakis, Giorgis (Yatromanolakis, Yoryis)
  <li>Vagenas, Nasos (Vayenas).
</ul>

<p>The Greek names of editors, translators, and authors of studies have not been transcribed under the scheme used for
  the (literary) Greek authors: instead, their names will be unified (in the index) under their fullest or most frequent
  form.</p>

<p>The transliteration scheme in the CENSUS shares the difficulty acknowledged by Linos Politis and Roderick Beaton in
  their histories of modern Greek literature: whether and how to represent the sound and/or the written form of the
  Greek.</p>

<p>The transliteration tables for Modern Greek followed by the ALA-Library of Congress (2010 version) may be found at
  <a href="https://www.loc.gov/catdir/cpso/romanization/greekm.pdf">https://www.loc.gov/catdir/cpso/romanization/greekm.pdf</a>.
</p>

