<div class="authors-texts">
  <ul class="list-group" id="search-results">

    <% texts.order(:sort_census_id).each do |text| %>

      <li class="list-group-item">
        <%= render 'shared/text_tombstone', text: text %>
      </li>

    <% end %>
  </ul>
</div>