<h3>Map</h3>
<div id="map-contents" style="width:100%;height:100%"></div>
<script>
    console.log('happened');

    Plotly.d3.csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv', function (err, rows) {

        var data = [{
            type: 'choropleth',
            locations: [<%= country_code_list(@author) %>],
            z: <%= country_count_list(@author) %>,
            text: [<%= country_code_list(@author) %>],
            autocolorscale: true
        }];

        var layout = {
            title: '',
            geo: {
                showframe: false,
                showcoastlines: false,
                showland: true,
                projection: {
                    type: 'mercator'
                }
            }
        };
        Plotly.plot('map-contents', data, layout, {showLink: false});
    });
</script>