<% page_title('Browse authors') %>
<h3>Browse all Authors</h3>

<div class="row">
  <div class="pagination-stuff col-md-10">
    <%= alphabetical_paginate @alpha_params %>
  </div>
</div>

<div class="row">
  <div id="pagination_table" class="col-md-12">
    <ul class="list-group">
      <% @authors.each do |author| %>
        <li class="list-group-item">
          <%= link_to author.full_name, public_author_path(author) %>
        </li>
      <% end %>
    </ul>

  </div>
</div>