<h2>Browse all Authors</h2>

<div class="row">
  <div class="pagination-stuff col-md-10">
    <%= alphabetical_paginate @alpha_params %>
  </div>
</div>

<div class="row">
  <div id="pagination_table" class="col-md-12">
    <h3><%= @letter %></h3>

    <% @authors.each do |author| %>
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to author.full_name, public_author_path(author) %>
        </li>
      </ul>
    <% end %>

  </div>
</div>