<% if page.current? %>
  <li class='active pagination__number-page'>
    <%= content_tag :a, page, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
  </li>
<% else %>
  <li class="pagination__number-page">
    <%= link_to page, url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
  </li>
<% end %>
