<h1>Editing Journal</h1>

<div class="col-md-7">
<%= render 'form', journal: @journal %>
</div>
<div class="col-md-5">
  <%= render partial: 'shared/changes', locals: {versions: @journal.versions} %>
</div>