<% current_collection = '' %>
<% if @text.components && text.components.count > 0 %>
  <div class="components">
    <h4>Items</h4>
    <% components_by_collection(@text.components).each do |collection| %>
      <div class="component-collection">
        <% if collection[:title] && !collection[:title].blank? %>
          <div class="component-collection-title">From <cite><%= collection[:title].gsub('_', ' ') %></cite></div>
        <% end %>
        <% collection[:components].each do |component| %>
          <%= render 'single_component', component: component, current_collection: current_collection %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>