<div class="component">
  <% if component.authors %>
    <div class="author"><%= component.authors.map(&:name).join ('; ') %></div>
  <% end %>
  <%= convert_underscores component.title %>
  <% component.translators.each do |translator| %>
    <div class="translator"><%= translator.name %> (tr.)</div>
  <% end %>
</div>