<div class="component">
  <%= convert_underscores component.title %>
  <% if component.genre != '' %> <span class="component-genre"><%= component.genre %></span>
  <% end %>
  <% if component.authors & component.authors != [] %>
    <div class="author">
      <strong style="font-size: 13px">Author(s):</strong> <%= component.authors.map(&:name).join ('; ') %></div>
  <% end %>
  <% if component.translators && component.translators != [] %>
    <div class="author"><strong  style="font-size: 13px">Translators(s):</strong> <%= component.translators.map(&:name).join ('; ') %></div>
  <% end %>
</div>