<h3>Browse all Texts</h3>

<div class="row">
  <div class="pagination-stuff col-md-10">
    <%= paginate @texts %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% texts_by_author(@texts).each do |author| %>
      <h3><%= author[:author] %></h3>
      <ul class="list-group">
        <% author[:texts].each do |text| %>
          <%= render 'brief_result', text: text %>
        <% end %>
      </ul>
    <% end %>

    <%= paginate @texts %>
  </div>
</div>