<% page_title 'Browse journals' %>
<h3>Browse all Journals</h3>

<div class="row">
  <div class="pagination-stuff col-md-12">
    <%= alphabetical_paginate @alpha_params %>
  </div>
</div>

<div class="row">
  <div id="pagination_table" class="col-md-12">
    <ul class="list-group">
      <% @journals.each do |journal| %>
        <li class="list-group-item">
          <%= link_to (journal.title.blank? ? "[No title]" : journal.title), public_journal_path(journal) %>
        </li>
      <% end %>
    </ul>

  </div>
</div>