<h2>Browse all Journals</h2>

<div class="row">
  <div class="pagination-stuff col-md-12">
    <%= alphabetical_paginate @alpha_params %>
  </div>
</div>

<div class="row">
  <div id="pagination_table" class="col-md-12">
    <h3><%= @letter %></h3>

    <% @journals.each do |journal| %>
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to (journal.title.blank? ? "[No title]" : journal.title), public_journal_path(journal) %>
        </li>
      </ul>
    <% end %>

  </div>
</div>