<!-- BEGIN facets -->
<!-- END facets -->

<!-- BEGIN search results -->
<div class="col-lg-12 col-md-12 col-sm-12">
  <% if @new_search %>
    <h3>Enter a search query</h3>
  <% else %>
    <%= render 'search_results_list' %>
  <% end %>
</div>
<!-- END search results -->