<% if @facets.present? %>
  <% @facets.each do |k, v| %>
    <div class="btn-group" role="group" aria-label="facets">
      <button type="button" class="btn btn-default disabled" disabled="disabled"><%= format_label(k) %> <i class="fas fa-angle-right"></i> <%= format_label(v) %></button>
      <%= link_to '<i class="fas fa-times"></i>'.html_safe, reset_facet_path(request.fullpath, k), :class =>"btn btn-default facet-control facet-remove", "data-control" => k %>
    </div>
  <% end %>
<% end %>