<% if @facets.present? %>
  <div class="constraints-container">
    <div class="panel panel-default">
      <div class="panel-body">
        <span class="constraints-label">You searched for:</span>
        <% @facets.each do |k, v| %>
          <div class="input-group">
            <span class="input-group-btn">
              <a href="#" class="btn btn-default btn-disabled disabled"><%= format_label(k) %> > <%= format_label(v) %></a>
              <%= link_to 'X', @facet_delete_paths[k], :class =>"btn btn-default facet-control facet-remove", "data-control" => k %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div> <!-- facets constraints container -->
<% end %>