<div class="container">
  <div class="row">
    <div class="col">
      <% if @search_type == "adv" %>
        <%# advanced search form template %>
        <%= render 'advanced_search_form' %>
      <% else %>
        <%# keyword search form template %>
        <%= render 'keyword_search_form' %>
      <% end %>
    </div>
  </div>

  <div class="row" id="search-results">
    <div class="row">
      <% if @search_type == "adv" %>
        <%# advanced search results template %>
        <%= render 'advanced_search_results' %>
      <% else %>
        <%# keyword search results template %>
        <%= render 'keyword_search_results' %>
      <% end %>
      <script src="/js/public-js.js"></script>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        // toggle more/less facets
        $("li.toggle-link button").on('click', function(){
            var $this = $(this);

            $this.parents("ul.facet-list-group").find("li.toggle-element").each(function () {
                $(this).toggle();
            });

            $this.parents("ul.facet-list-group").find("li.toggle-link button").each(function(){
                $(this).toggle();
            });
        });
    });
</script>