<div class="row">
  <div class="edit-form col-sm-7">
    <%= render 'form', person: @person %>
  </div>
  <div class="col-md-5">
    <%= render partial: 'shared/changes', locals: {versions: @person.versions} %>
  </div>
</div>