<div class="container public-show-text" id="search-results">
  <div class="row">
    <h2><%= @name.controlled_name %></h2>
    <% @name.roles.each do |role| %>
      <h3>Appears as <%= role %> in</h3>
      <ul class="list-group">
        <% @name.texts(role).each do |text| %>
          <li class="list-group-item">
            <%= render 'shared/text_tombstone', text: text, show_topic_author: true %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>