$main-font-stack: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
$alt-font-stack: "Noto Serif", serif;

// Colors
$danger-color: #d9534f;
$warning-color: #f0ad4e;
$safe-color: #5cb85c;

main {
  padding-bottom: 2em;
}

.admin {
  body {
    font-family: $main-font-stack;

  }

  select.form-control {
    width: auto;
    max-width: 95%;
  }

  h2 {
    font-weight: 600;
  }

  .prev-next-row-top, .prev-next-row-bottom {
    font-weight: bold;
    margin-bottom: 1em;

    .next-record-col {
      text-align: right;
    }

  }

  .prev-next-row-bottom {
    margin-top: 1em;
  }

  .edit-form, .edit_volume {

    .checkbox label {
      font-weight: bold;
    }

    .input {
      margin-bottom: 1em;
    }

    input[type=text], textarea {
      font-family: $main-font-stack;
    }

    .nested-fields .citation-fields {
      clear: both;
    }

    .remove-link {
      font-size: 21px;
      text-decoration: none;
      float: right;
      position: relative;
      top: -27px;
      left: 24px;
      background: #eef;
      color: red;
      display: block;
      border: none;
      width: 18px;
      border-radius: 10px;
      text-align: center;
      height: 23px;
      line-height: 16px;
    }

    .remove-button {
      float: right;
      border: 1px groove gray;
      background: #fff;
      padding: .5em;
    }

    textarea {
      height: 10em;
    }

    .nested-fields, .isbn-fields, .component-fields {

      &.citation-fields.collapsed-li {
        height: 60px;
      }

      margin-bottom: 1em;
      padding: 1em;
      margin-right: 1em;
      margin-top: 2em;

      &.collapsed-li {
        margin-bottom: 0;
        border-top: 2px dashed #999;
      }

      .handle {
        content: '....';
        width: 20px;
        height: 20px;
        display: inline-block;
        overflow: hidden;
        line-height: 5px;
        padding: 3px 4px;
        cursor: move;
        vertical-align: middle;
        margin-top: -.7em;
        margin-right: .3em;
        font-size: 12px;
        font-family: sans-serif;
        letter-spacing: 2px;
        color: #cccccc;
        text-shadow: 1px 0 1px black;
      }

      .handle::after {
        content: '.. .. .. ..';
      }
    }

    .nested-fields {
      background: #f1eeee;
    }

    .isbn-fields {
      background: #f1eef1;
    }

    .component-fields {
      cursor: move;
      background: #e1dedc;
    }

    #components, #citations, #isbns {
      margin-bottom: 1em
    }

    select {
      width: auto;
      font-size: 14px;
      font-family: $main-font-stack;
    }
  }

  .edit_text {
    .census-id {
      font-size: 14px;
      margin-bottom: 15px;

      .census-id-label {
        font-weight: bold;
      }
    }
  }

  .topic-author {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1em;
  }

  .original {
    font-family: $alt-font-stack;
    background: #efefd5;
    padding: 1em;

    .census-id {
      font-weight: bold;
    }
  }

  .badge {
    &.unseen {
      background-color: $danger-color;
    }

    &.needs_review {
      background-color: $warning-color;
    }

    &.finished {
      background-color: $safe-color;
    }
  }

  a.logout-link.navbar-link {
    padding-left: 1em;
    font-size: .9em;
  }

  .new-thing a {
    margin-top: 18px;
    display: block;
    text-align: right
  }

  a:visited button, a.btn.btn-primary:visited {
    color: #fff;
  }

  fieldset.journal-fields, fieldset.volume-fields, fieldset.url-fields {
    padding: 4em .5em .5em .5em;
    position: relative;
    clear: both;
    margin-bottom: 2em;
  }

  fieldset.journal-fields {
    background: #f3f8a7;

    label.boolean.optional {
      font-weight: bold;
    }
  }

  fieldset.volume-fields {
    background: #a7f8f4;
  }

  fieldset legend {
    font-size: 30px;
    border-bottom: 0;
    margin: 0;
    position: absolute;
    top: 0;
  }

  .change {
    margin-bottom: 1em;

    .date, .who {
      color: #999;
    }

    .field {
      font-weight: bold;
    }

    .from {
      text-decoration: line-through;
    }
  }

  .affix {
    -webkit-box-shadow: 5px 5px 10px 0 rgba(136, 136, 136, 0.78);
    -moz-box-shadow: 5px 5px 10px 0 rgba(136, 136, 136, 0.78);
    box-shadow: 5px 5px 10px 0px rgba(136, 136, 136, 0.78);
    z-index: 2
  }

  .text-comments {
    .comment-metadata {
      color: #999
    }

    .the-title {
    }
  }

  .new_comment {
    .title-field {
      width: 75%;
    }

    .btn {
      margin-bottom: 25px
    }
  }

  .comments-section {
    padding: 1em;
    background-color: #eaebe9;
    margin: 1em 0;
  }

  a:hover {
    background-color: transparent;
  }

  a:visited {
    color: #337ab7;
  }

  .original #collapse-original-button {
    position: relative;
    left: 101%;
    top: -25px;
    font-size: 20px;
    cursor: pointer;
    color: #656963;
    float: left;
    width: 0;
  }

  .change-from .change-value {
    text-decoration: line-through;
  }

  .field {
    padding: .2rem;
  }

  .field-label {
    font-weight: bold;
    display: inline-block;
  }

  .field ul:last-child {
    margin-bottom: 0;
  }

  .edit-form .component-fields.ghost, .edit_volume .component-fields.ghost,
  .edit-form .citation-fields.ghost {
    opacity: .5;
    background: yellow;
  }

  a#collapse-components, a#collapse-citations {
    display: block;
    float: right;
    padding-right: 1em;
    position: relative;
    top: 12px;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  .collapsed-display {
    display: none;
  }

  .open-command {
    display: none;
  }
}

.public {
  .back-link {
    padding-top: 2rem;
  }
}

a.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
  background-color: #fff;
  padding: 8px 8px;
  color: #000;
  z-index: 1000;
}

.census-id-warning {
  color: #900;
  font-weight: 600;
  margin-bottom: 1em;
  margin-top: -.5em;
  font-size: 1.2em;
}

.delete_button {
  color: #337ab7;
  font-size: 12px;
  text-align: right;
  float: right;
  text-decoration: underline;
}

.system-id {
  margin-bottom: 1em;
  border: 1px solid lightgray;
  background: #f6f3f6;
  padding: 1em 0;
}

.input-form__note {
  position: relative;
  top: -14px;
}

// Cookie bar
.cookies-bar {
  display: flex;
  position: fixed;
  bottom: 0;

  padding: 20px;

  border: 1px solid #9CA3AF;
  border-bottom: none;
  background-color: #2b4a89;
  color: #ffffff;


  @media (min-width: 768px) {
    align-items: center;
    margin: 0 auto;
    padding-bottom: 0;

    a, a:active, a:hover {
      color: #dddddd;
      text-decoration: underline;
    }

    .cookies-bar__text {
      width: 65%;
    }

    .cookies-bar__button-row {
      padding-bottom: 1em;
    }

    .cookie-bar__reject {
      background: transparent;
      border: 1px solid #9b9b9b;
      color: #dddddd;
    }

    .cookie-bar__accept {
      background: #e6d921;
      color: #000000;
    }

    .cookie-bar__accept:hover, .cookie-bar__accept:active {
      background: #c7bc1b;
      color: #000000;
    }

    form {
      display: inline-block;
    }

    .btn {
      padding: 10px 20px;
      margin-left: 10px;
    }
  }
}
