$main-font-stack: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
$alt-font-stack: "Noto Serif", serif;

* {
  m: border-box;
  box-sizing: border-box;
}

body {
  font-family: $main-font-stack;
  font-size: 18px;
}

main {
  max-width: 90%;
  margin: auto;
}

h2 {
  font-weight: 600;
}

.edit-form {
  float: left;
  min-width: 60%;

  label {
    display: block;
    width: 6em;
    float: left;
  }

  .input {
    margin-bottom: 1em;
  }

  input[type=text], textarea {
    width: 20em;
    font-family: $main-font-stack;
    font-size: 18px;
    font-weight: 300;
  }

  .remove-button {

  }

  textarea {
    height: 10em;
  }

  .nested-fields, .isbn-fields, .component-fields {
    margin-bottom: 1em;
    padding: 1em;
    margin-right: 1em;
  }

  .nested-fields {
    background: #f1eeee;
  }

  .isbn-fields {
    background: #f1eef1;
  }
  .component-fields {
    background: #e3e5f1;
  }

  #components, #citations, #isbns {
    margin-bottom: 1em
  }
}

.topic-author {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1em;
}

.original {
  font-family: $alt-font-stack;
  float: left;
  width: 40%;
  background: #efefd5;
  padding: 1em;
}