<% if @text.components && text.components.count > 0 %>
  <div class="components">
    <h4>Items</h4>

    <% components_by_collection(@text.components).each do |collection| %>

      <% if collection[:title].blank? && collection[:greek_title].blank? %>
        <div class="component-collection--no-collection">
          <% collection[:components].each do |component| %>
            <%= render 'single_component', component: component %>
          <% end %>
        </div>


      <% else %>
        <div class="component-collection">
          <div class="component-collection-title">
            From
            <% unless collection[:title].blank? %>
              <cite><%= collection[:title].gsub('_', '') %></cite>
            <% end %>
            <% unless collection[:title].blank? || collection[:greek_title].blank? %>
              /
            <% end %>
            <% unless collection[:greek_title].blank? %>
              <cite><%= collection[:greek_title].gsub('_', ' ') %></cite>
            <% end %>

            <% collection[:components].each do |component| %>
              <%= render 'single_component', component: component %>
            <% end %>
          </div>
      <% end %>
      </div>

      </div>
    <% end %>

<% end %>
</div>
