<div class="edit-form ">
  <%= render 'form', text: @text %>
</div>


<div class="original">
  <div class="topic-author">
    <%= @text.topic_author.full_name %>
  </div>
  <div class="census-id"><%= @text.census_id %></div>
  <%= markdown(@text.original) %>
</div>
