<% content_for :jumbotron do %>

  <div class="jumbotron">
    <div class="giant-image">

      <%= render 'home_search' %>

      <div class="image-credits col-md-12">Image &copy;
        <a href="https://www.flickr.com/photos/73491156@N00/3327155132">Éole Wind</a></div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/public" %>